body {
  font-family: Arial, Helvetica, sans-serif;

  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373b44, #4286f4);
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
  margin: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{box-sizing:border-box;}

div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 6em;
  margin: 0.2em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}

.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}

.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}

.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}

.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}



.btn2{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
}

.btn2:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
   transform: rotateY(360deg);
}

.btn1{
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn1:hover {
    background: #b3e1ff;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin:0px  -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

img{border-radius:30px;}

/* Style the counter cards */
.card {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
 }

.container {
  margin: 50px auto;
  width: 400px;
  text-align: center;
  height: 20px;
}

.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 10px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped .progress-bar {
  background-color: #FCBC51;
  width: 100%;
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%,
        transparent 25%, transparent 50%,
        rgb(252,163,17) 50%, rgb(252,163,17) 75%,
        transparent 75%, transparent);
  animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
     from { width: 50 }
     to   { width: 100% }
}


.container2 {
  margin: 50px auto;
  width: 400px;
  text-align: center;
  height: 20px;
}

.progress2 {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 10px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped2 .progress-bar2 {
  background-color: #FCBC51;
  width: 75%;
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%,
        transparent 25%, transparent 50%,
        rgb(252,163,17) 50%, rgb(252,163,17) 75%,
        transparent 75%, transparent);
  animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
     from { width: 50% }
     to   { width: 75% }
}


.container3 {
  margin: 50px auto;
  width: 400px;
  text-align: center;
  height: 20px;
}

.progress3 {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
  height: 10px;
  background-color: #ee303c;
  border-radius: 4px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-striped3 .progress-bar3 {
  background-color: #FCBC51;
  width: 50%;
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%,
        transparent 25%, transparent 50%,
        rgb(252,163,17) 50%, rgb(252,163,17) 75%,
        transparent 75%, transparent);
  animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 50% }
}



@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

.sandbox-correct-pronounciation {
  margin-top: 20px;
  text-align:center;
}

.heading-correct-pronounciation {

  margin: 0;
  text-align: center;
  position: relative;
}


h1 {
  margin: 0;
  color: black
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
    opacity: 0.2;
  margin: 0;
  font-size: 0.1em;
}

}


.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}


